.notificationMessage {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border: solid green 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notificationError {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border: solid red 5px;
  padding: 10px;
  margin-bottom: 10px;
}