body {
    background-color: white;
}

.notification {
    color: green;
    border: 3px solid green;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: lightgray;
}

.error {
    color: red;
    border: 3px solid red;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: lightgray;
}

.appheader {
    background-color: lightgray;
}